{
  "singleQuote": true,
  "importOrder": [
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^@assets/(.*)$",
    "^@content/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
